.image_captcha_admin_fonts_selection .form-item {
  float: left;
  width: 160px;
}
.image_captcha_admin_fonts_selection .form-item-image-captcha-fonts-BUILTIN {
  clear: both;
  float: none;
  width: 100%;
}
.image_captcha_admin_fonts_selection img {
  vertical-align: middle;
}

.form-radios .form-item {
  display: inline;
}

#head {
  margin: auto;
  width: 900px;
}

#admin {
  width: auto;
  height: auto;
  background-color: #e0e0d8;
}
